@import './normalize.css';
@import './fonts.css';

* {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto-Regular';
}

header {
    box-shadow: 0 2px 4px #ccc;
}

header a {
    width: 250px;
    display: flex;
    padding: 15px 0;
    margin-left: 30px;
}

header a img {
    width: 100%;
    display: block;
}